<div class="my-5 container">
  <div class="jumbotron">
    <h1 class="display-2">Your purchase was successful!</h1>
    <hr class="my-4">
    <p class="lead">Your card was charged $<%= @price_in_dollars %></p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/" role="button">Go back to the store</a>
    </p>
  <div>
</div>
