<nav>
  <%= link_to 'DreamWeaver', root_path, class: "brand" %>
  <!-- responsive-->
  <input id="bmenub" type="checkbox" class="show">
  <label for="bmenub" class="burger pseudo button">Menu</label>
  <div class="menu">
    <%= link_to 'Products', root_path, class: "brand" %>
    <%= link_to 'Contact', root_path, class: "brand" %>
  </div>
</nav>
