<% if !@cart_product.nil? && @cart_product.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @cart_product.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @cart_products.size == 0 %>
  <p class="text-center">
    There are no items in your shopping cart.  Please <%= link_to "go back", root_path %> and add some items to your cart.
  </p>
<% else %>
  <% @cart_products.each do |cart_item| %>
    <%= render 'carts/cart_row', product: cart_item.product, order_item: cart_item, show_total: true %>
  <% end %>
<% end %>
