<div class="header">
  <h1>DreamWeaver</h1>
  <h3>Softer than an angel's bosom</h3>
</div>

<div class="flex one three-1000 center">
<% @products.each do |product| %>
  <%= render "product_row", product: product, cart_product: @cart_product %>
<% end %>

</div>

<p>Your session is:
  <%= session[:cart_id] %></p>
